svg{position:absolute;top:-30px; left:20%;} 
.sectext{text-align:center;}
#carousel-container {
        margin-top: 30px;
        width: 350px;height:450px;
        overflow: hidden;
        position: relative;
        margin: auto;
        box-shadow:inset -20px -20px 0 0 yellow,
		inset 20px 20px 0 0 yellow;
    }

    #image-container {
        display: flex;
        transition: transform 0.5s ease;
        position: relative;
    }

    .carousel-image {
        width: 350px;height:450px;
        height: auto;
        opacity: 0.5;
    }

    #prevBtn,
    #nextBtn,
    #sendToEmail {
        position: absolute;
        top: 90%;
        transform: translateY(-50%);
        cursor: pointer;
        border: 3px solid yellow;
        font-size: 15px;
    }

    #prevBtn {
        left: 5px;
    }

    #nextBtn {
        right: 5px;
    }

    #sendToEmail {
        left: 50%;
        transform: translateX(-50%);
    }
	
form{margin-top:30px;}
    form img{width:90px;height:120px;}
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 250px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: grid;
    }
	.section{margin:20px;}
  
	.a:hover{ color:black;font-size:15px;text-shadow:1px 1px 1px red;}
.pp{padding:5px; border:2px solid black;width:95%}
	.up{padding:10px; border:2px solid black;margin:15px;}
	.down{padding:10px; border:2px solid black;margin:15px;}
	.left{padding:10px; border:2px solid black;margin:15px;}
	.right{padding:10px; border:2px solid black;margin:15px;}
	.prev{padding:5px; border:2px solid black;margin:15px;font-size:10px;}
	.next{padding:5px; border:2px solid black;margin:15px;font-size:10px;}
	.more{padding:10px; border:2px solid black;margin:15px;}
	.less{padding:10px; border:2px solid black;margin:15px;}
	.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  transition: stroke-dasharray 1.5s ease-out, stroke-dashoffset 1.5s ease-out;}